* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

.root___aXesb {
  display: flex;
  flex-direction: column; }
  .root___aXesb h1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: Black;
    padding-bottom: 18px;
    text-align: center; }
  .root___aXesb h2 {
    text-align: center;
    font-size: 32px; }
  .root___aXesb p {
    text-align: center; }
  .root___aXesb .pageWrapper___2wxVi {
    display: flex;
    flex-direction: column;
    padding: 4%; }

/* Global CSS Overwrites */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  margin: 0; }

* {
  box-sizing: border-box; }

.root___lF74_ h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: Black;
  padding-bottom: 18px;
  margin-top: 30px;
  text-align: center; }

.root___lF74_ h3 {
  font-family: 'Poppins', sans-serif;
  color: Black;
  padding-bottom: 10px;
  text-align: center; }

.root___lF74_ div {
  text-align: center; }

.root___lF74_ img {
  padding-bottom: 20px; }

.root___lF74_ p {
  font-family: 'Roboto', sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  text-align: left;
  line-height: 1.5;
  color: black;
  font-size: 19px;
  padding-bottom: 0; }

.root___3lvcA ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px; }

.root___3lvcA li {
  font-family: 'Roboto', sans-serif; }

.root___3lvcA a:hover {
  border-bottom: 1px solid black; }

.root___3lvcA li a {
  text-decoration: none;
  color: black;
  font-size: 20px; }

.root___GzGq6 {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .root___GzGq6 h1 {
    padding: 0; }
  .root___GzGq6 div {
    border-bottom: 1px solid black;
    border: hidden; }
  .root___GzGq6 div:hover {
    border-bottom: 1px solid black; }
  .root___GzGq6 a {
    text-decoration: none; }
  .root___GzGq6 h2 {
    font-family: 'Roboto', sans-serif;
    color: Blue;
    padding-bottom: 10px; }
  .root___GzGq6 p {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
    color: black; }

.root___m-qcO h1 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: Black;
  padding-bottom: 18px;
  margin-top: 30px;
  text-align: center; }

.root___m-qcO div {
  text-align: center; }

.root___m-qcO img {
  padding-bottom: 20px; }

.root___m-qcO p {
  font-family: 'Roboto', sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
  line-height: 1.5;
  color: black;
  font-size: 19px;
  padding-bottom: 0; }


/*# sourceMappingURL=styles.chunk.css.map*/