* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.root {

    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;

    div {
        border-bottom: 1px solid black; 
        border: hidden;  
    }

    div:hover {
        border-bottom: 1px solid black;   
    }
    a {
        text-decoration: none;
    }

    h2 {
        color: Blue;
        padding-bottom: 10px;
    }
}